.screen{
    display: none;
}

.screen.active{
    display: contents;
}

.falling-word {
    position: absolute;
    font-size: 20px;
    white-space: nowrap;
    user-select: none;
    animation: fall linear forwards;
    font-size: 3vh;
}

@keyframes fall {
    to {
        transform: translateY(80vh);
        /* Fall just past the bottom */
    }
}