#start-screen,
#main-screen,
#result-screen {
    text-align: center;
}

.screen {
    display: none;
}

.screen.active {
    display: contents;
}

.falling-word {
    position: absolute;
    font-size: 20px;
    white-space: nowrap;
    user-select: none;
    animation: fall linear forwards;
    font-size: 3vh;
}

@keyframes fall {
    to {
        transform: translateY(80vh);
        /* Fall just past the bottom */
    }
}

table {
    margin: auto;
    margin-top: 10px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

#result-words td {
    font-size: 2vh;
}

#result-words * {
    min-height: 4vh;
}